* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif", serif;
}

.main {
  width: 100%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),
    url(\images\technology-01.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #22223b;
  font-size: 35px;
  font-family: "Rubik 80s Fade", cursive;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #004fff;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff0a54;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 1px solid #22223b;
  margin-top: 13px;
  color: #22223b;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}

.btn {
  width: 75px;
  height: 40px;
  background: #ff0a54;
  border: 2px solid #22223b;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
  width: 225px;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #22223b;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
}

content h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #004fff;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

.cn:hover {
  background: #ff0a54;
}

.content span {
  color: #bc3908;
  font-size: 45px;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, #ffd89b, #19547b);
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 220px;
  font-family: "Noto Serif", serif;
  text-align: center;
  color: #22223b;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: #22223b;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #004fff;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #22223b;
  transition: 0.4s ease;
}

.btnn:hover {
  background: #ff0a54;
  color: #004fff;
}

.btnn a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff0a54;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icon a {
  text-decoration: none;
  color: #22223b;
}

.icon ion-icon {
  color: #22223b;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 3spx;
  align-items: center;
  transition: 0.3s ease;
}

.icon ion-icon:hover {
  color: #ff0a54;
}
